{% extends 'admin/backhome.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block subcontent %}

    <div class="container">
        <div class="row">

            <table class="highlight centered">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Name</th>
                    <th colspan="2"><a href="{{ path('back.user.new') }}" class="waves-effect waves-light btn"><i class="material-icons left">person_add</i>Ajout d'un Utilisateur</a></th>
                </tr>
                </thead>

                <tbody>
                {% for data in result %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.name }}</td>
                        <td>
                            <a href="{{ path('back.user.edit', {id: data.id, name: data.name}) }}" class="waves-effect waves-light btn-small green">Modifier<i class="material-icons left">person</i></a>
                        </td>
                        <td>
                            <form method="post" action="{{ path('back.user.delete', {id: data.id, name: data.name}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer l\'utilisateur {{data.name}}')">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete'~data.id) }}">
                                <button class="btn waves-effect waves-light btn-small red">Supprimer<i class="material-icons left">backspace</i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}