{% extends 'base.html.twig' %}

{% block title %}Accueil back-office{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    {% block menu %}

        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><img src="../img/logo.png"></a>

                <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ path('logout') }}"><i class="material-icons left">phonelink_lock</i>Logout</a></li>
                    <li><a href="{{ path('back') }}"><i class="material-icons left">home</i>Accueil</a></li>
                    <li><a href="{{ path('back.entre') }}"><i class="material-icons left">account_balance</i>Entreprise</a></li>
                    <li><a href="{{ path('back.codedr') }}"><i class="material-icons left">leak_add</i>Code D/R</a></li>
                    <li><a href="{{ path('back.mode') }}"><i class="material-icons left">merge_type</i>Mode de Traitement</a></li>
                    <li><a href="{{ path('back.user') }}"><i class="material-icons left">people</i>Utilisateur</a></li>
                </ul>

            </div>
        </nav>

        <ul class="sidenav" id="mobile">
            <li><a href="{{ path('logout') }}"><i class="material-icons left">phonelink_lock</i>Logout</a></li>
            <li><a href="{{ path('back') }}"><i class="material-icons left">home</i>Accueil</a></li>
            <li><a href="{{ path('back.entre') }}"><i class="material-icons left">account_balance</i>Entreprise</a></li>
            <li><a href="{{ path('back.codedr') }}"><i class="material-icons left">leak_add</i>Code D/R</a></li>
            <li><a href="{{ path('back.mode') }}"><i class="material-icons left">merge_type</i>Mode de Traitement</a></li>
            <li><a href="{{ path('back.user') }}"><i class="material-icons left">people</i>Utilisateur</a></li>
        </ul>

    {% endblock %}

    {% block content %}
        <div class="row">

            <div class="container head-content">
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ path('back.new') }}" class="waves-effect waves-light btn"><i class="material-icons left">book</i>Ajout d'un BSD</a>
                        <a href="{{ path('back.entre.new') }}" class="waves-effect waves-light btn"><i class="material-icons left">account_balance</i>Ajout d'une Entreprise</a>
                        <a href="{{ path('back.codedr.new') }}" class="waves-effect waves-light btn"><i class="material-icons left">leak_add</i>Ajout d'un Code D/R</a>
                        <a href="{{ path('back.mode.new') }}" class="waves-effect waves-light btn"><i class="material-icons left">merge_type</i>Ajout d'un Mode de Traitement</a>
                        <a href="{{ path('back.user.new') }}" class="waves-effect waves-light btn"><i class="material-icons left">person_add</i>Ajout d'un Utilisateur</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        {% for message in app.flashes('success') %}
                            <div class="col s12 green flash-card">
                                <p class="valign-wrapper">
                                    <i class="material-icons">layers</i>{{ message }}
                                </p>
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="col s12 red flash-card">
                                <p class="valign-wrapper">
                                    <i class="material-icons">layers_clear</i>{{ message }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            {% block subcontent %}
                <div class="container-fluid">
                    <div class="row">

                        <!-- INFORMATIONS -->
                        <div class="col s12 headList">
                            <a class="btn tooltipped" data-position="top" data-tooltip="BSD Total"><i class="material-icons left">book</i>{{ result.getTotalItemCount }}</a>
                            <a class="btn tooltipped" data-position="top" data-tooltip="Entreprise Total"><i class="material-icons left">account_balance</i>{{ totalEntreprise|number_format }}</a>
                            <a class="btn tooltipped" data-position="top" data-tooltip="Code D/R Total"><i class="material-icons left">leak_add</i>{{ totalCode|number_format }}</a>
                            <a class="btn tooltipped" data-position="top" data-tooltip="Mode Total"><i class="material-icons left">merge_type</i>{{ totalMode|number_format }}</a>
                            <a class="btn tooltipped" data-position="top" data-tooltip="Utilisateur Total"><i class="material-icons left">people</i>{{ totalUser|number_format }}</a>

                            {{ form_start(formSearch) }}

                                <div class="input-field inline">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Rechercher
                                        <i class="material-icons right">search</i>
                                    </button>
                                </div>

                                <div class="col s1">{{ form_row(formSearch.codeBsd) }}</div>
                                <div class="col s1">{{ form_row(formSearch.entreprise) }}</div>
                                <div class="col s1">{{ form_row(formSearch.dateMin) }}</div>
                                <div class="col s1">{{ form_row(formSearch.dateMax) }}</div>

                            {{ form_end(formSearch) }}

                        </div>

                        <div class="col s12">

                            <ul class="collapsible popout">

                                {% for data in result %}
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">receipt</i>
                                            <span class="new badge" data-badge-caption="">{{ data.idbsd }}</span>
                                            <span class="new badge" data-badge-caption="">{{ data.dateenlevement }}</span>
                                            <span class="new badge" data-badge-caption="">{{ data.designation }}</span>
                                            <span class="new badge" data-badge-caption="">{{ data.codenomenclature }}</span>
                                            <span class="new badge" data-badge-caption="">{{ data.quantite }}</span>
                                            <span class="new badge" data-badge-caption="">{{ data.codedr.code }}</span>
                                        </div>
                                        <div class="collapsible-body">
                                            <div class="row">

                                                <div class="col s8 offset-s2 divider green"></div>

                                                <div class="col s12">
                                                    <!-- EMETTEUR BSD -->
                                                    <h4>Emetteur BSD <a href="{{ asset('file_upload/' ~ data.fichierbsd) }}" target="_blank"><i class="material-icons">attach_file</i></a></h4>
                                                    <ul>
                                                        <li>Date Enlèvement : {{ data.dateenlevement }}</li>
                                                        <li>Désignation du déchet : {{ data.designation }}</li>
                                                        <li>Code nomenclature déchet : {{ data.codenomenclature }}</li>
                                                        <li>Quantité (tonnes) : {{ data.quantite }}</li>
                                                        <li>Code D/R : {{ data.codedr.code }}</li>
                                                    </ul>
                                                </div>

                                                <div class="col s12">
                                                    <!-- ENTREPOSAGE -->
                                                    <h4>Installation d'entreposage, de reconditionnement ou de transformation préalable du déchet</h4>
                                                    <ul>
                                                        <li>Nom : {{ data.entreposage.nom }}</li>
                                                        <li>Adresse : {{ data.entreposage.adresse }}</li>
                                                        <li>SIRET : {{ data.entreposage.siret }}</li>
                                                    </ul>
                                                </div>

                                                <div class="col s12">
                                                    <!-- TRANSPORTEUR -->
                                                    <h4>Transporteur</h4>
                                                    <ul>
                                                        <li>Nom : {{ data.transporteur.nom }}</li>
                                                        <li>Adresse : {{ data.transporteur.adresse }}</li>
                                                        <li>SIREN : {{ data.transporteur.siren }}</li>
                                                        <li>Récépissé préfectoral de transport : {{ data.transporteur.recepisse }}</li>
                                                    </ul>
                                                </div>

                                                <div class="col s12">
                                                    <!-- TRAITEMENT -->
                                                    <h4>Installation de traitement final</h4>
                                                    <ul>
                                                        <li>Nom : {{ data.entreprisetraitement.nom }}</li>
                                                        <li>Adresse : {{ data.entreprisetraitement.adresse }}</li>
                                                        <li>SIRET : {{ data.entreprisetraitement.siret }}</li>
                                                        <li>Mode de traitement : {{ data.modetraitement.label }}</li>
                                                        <li>Code D/R : {{ data.codedrtraitement.code }}</li>
                                                        <li>Date admission : {{ data.dateadmission }}</li>
                                                        <li>Date de traitement : {{ data.datetraitement }}</li>
                                                    </ul>
                                                </div>

                                                <div class="col s12">
                                                    <!-- COMMENTAIRE -->
                                                    <h4>Commentaire :</h4>
                                                    <p>
                                                        {{ data.commentaire }}
                                                    </p>
                                                </div>

                                                <div class="col s8 offset-s2 divider green"></div>

                                                <!-- OPTIONS -->
                                                <div class="col s12">
                                                    <div class="col">
                                                        <a href="{{ path('back.edit', {id : data.id}) }}" class="waves-effect waves-light btn"><i class="material-icons left">autorenew</i>Modification</a>
                                                    </div>

                                                    <div class="col">
                                                        <form method="post" action="{{ path('back.delete', {id: data.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer le BSR {{data.idbsd}}')">
                                                            <input type="hidden" name="_method" value="delete">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~data.id) }}">
                                                            <button class="btn waves-effect waves-light red"><i class="material-icons left">backspace</i>Supprimer</button>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>

                        </div>

                        <!-- PAGINATION -->
                        <div class="col s12 center-align">
                            {{ knp_pagination_render(result) }}
                        </div>

                    </div>
                </div>
            {% endblock %}

        </div>
    {% endblock %}

{% endblock %}

{% block javascripts %}{% endblock %}
